
.container_12 .header{
	
	background-color: #875581;
}
.header ul{
	word-spacing:10px;
	margin-top: 10px;

}
.header a{
	float:left;
}
.header ul a{
	float:right;
	font-family: sans-serif;
}
.header ul a:hover{
	
	font-color: #ffffff;
	font-size: 15px;

}

.header li{
		display:inline;
		color: black;
		text-underline-position: none;
		float: right;
		word-spacing:10px;
		padding-right: 10px;
		padding-bottom: 52px;
		
	
		


}

.module1 {

	height:600px;

}
.code  li{
	font-family:sans-serif;
	

}   
.code a:link{
	text-decoration: none
	
}
.lang  li{
	font-family:sans-serif;
	

}   
.lang a:link{
	text-decoration: none
	
}
.catalog  li{
	font-family:sans-serif;
	

}   
.catalog a:link{
	text-decoration: none
	
}
.code .lang .catalog  a:hover 
{
	font-color: #ffffff;
	font-size: 15px;
}
.grid_6{
	background-image: url("../image/blur.jpg");
}
.code {
	background-image:url("../image/blur2.jpg");
}
.lang {
	background-image:url("../image/blur3.jpg");
}
.upper1 {
	color:blue;
}
.upper2 {
	color:blue;
}

